## SQL is a standard language for managing and manipulating relational databases.
## SQLite is a self-contained, serverless and zero-configuration db engine that is widely used for embedded db systems.

In [2]:
import sqlite3

In [3]:
## Connect to a SQLite db
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Int,
    department text
    )
''')

## Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''')

In [7]:
## Insert the data insqlite table
cursor.execute('''
Insert into employees(name, age, department)
               values('Vish', 27, 'Data Scientist')
''')

cursor.execute('''
Insert into employees(name, age, department)
               values('John', 32, 'Software Dev')
''')

cursor.execute('''
Insert into employees(name, age, department)
               values('Bob', 25, 'Data Scientist')
''')

## commit the changes
connection.commit()

In [10]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, 'Vish', 27, 'Data Scientist')
(2, 'John', 32, 'Software Dev')
(3, 'Bob', 25, 'Data Scientist')

In [12]:
## Update the data in the table
cursor.execute('''
UPDATE employees
               SET age = 34
               where name = 'John'
''')

connection.commit()

In [13]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, 'Vish', 27, 'Data Scientist')
(2, 'John', 34, 'Software Dev')
(3, 'Bob', 25, 'Data Scientist')

In [14]:
## Delete the data from table 
cursor.execute('''
DELETE from employees
               where name = 'John'
''')

connection.commit()

In [15]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, 'Vish', 27, 'Data Scientist')
(3, 'Bob', 25, 'Data Scientist')

In [17]:
## Working with Sales Data

# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#Create a table for sales data
cursor.execute('''
Create Table If Not Exists sales(
    id Integer Primary Key,
    date Text Not Null,
    product Text Not Null,
    sales Integer,
    region Text
    )
''')

# Insert data into the sales table
sales_data = [
    ('2024-01-01', 'Product1', 250, 'North'),
    ('2024-01-02', 'Product1', 150, 'West'),
    ('2024-01-03', 'Product3', 100, 'East'),
    ('2024-01-04', 'Product4', 300, 'South'),
    ('2024-01-05', 'Product5', 200, 'North')
]

cursor.executemany('''
Insert into sales(date, product, sales, region)
                   values(?,?,?,?)
''', sales_data)

connection.commit()

In [18]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, '2024-01-01', 'Product1', 250, 'North')
(2, '2024-01-02', 'Product1', 150, 'West')
(3, '2024-01-03', 'Product3', 100, 'East')
(4, '2024-01-04', 'Product4', 300, 'South')
(5, '2024-01-05', 'Product5', 200, 'North')

In [19]:
## Close the connection
connection.close()